.layout {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1{
    text-align: center;
}
  
.content {
    background-color: #dceeb1;
    padding: 20px;
    border: 2px solid #c9e5af;
    border-radius: 4px;
}  