.card {
    border: 2px solid #ed9da1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 16px;
    text-align: center;
    cursor: pointer;
}

.card:hover{
    background-color: #ed9da1;
    transition: 0.2s;
}
  
.card-image {
    width: 100%;
    height: auto;
}
  
.card-title {
    font-size: 1.5em;
    margin: 16px 0;
}

.card-price {
    font-size: 1.2em;
    color: black;
    margin-bottom: 16px;
}  